.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-row {
  display: flex;
  align-items: center;
  height: 75px;
  margin-left: 16px;
  margin-right: 24px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
